.card-largura {
    max-width: 18rem;
}

.imagem-carrossel-um {
    object-fit: cover;
    object-position:0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.texto-cor-especial {
    color: darkred!important;
}

.btn-cor-especial {
    background-color: darkred;
    color: white;
    border: none;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-imagem-posicao {
    object-fit: cover;
    height: 200px;
}
